<div id="thumb-chooser">
              <div class="left-arrow lSlider">
              </div>
                  <div id="thumb-window">
                      <div id="thumb-strip">
                      </div>  
                  </div>
              <div class="right-arrow rSlider">
              </div>
              <a href="#slideshow" class="homeLink">Back to Home Slideshow</a>
          </div>
          <div id="videos">
              <div id="video-player"><!--<h2>Videos will appear here</h2>-->
                  <a  
                           href="#"  
                           style="display:block;width:670px;height:446px"  
                           id="player"> 
                  </a>
              </div>
              <div id="video-text-area">
                  <div id="result"></div>
                  
                      <ul>
                          <li><h3>Done Watching?</h3></li>
                          <li><a href="#thumb-chooser" class="pause">Back</a></li>
                          <li><a href="#slideshow" class="pause">Home</a></li>
                      </ul>
                      <!--div id="googleAd">
                         <script type="text/javascript"><!--
                          google_ad_client = "pub-2077660811121410";
                          /* 300x250, created 8/9/10 */
                          google_ad_slot = "6063072402";
                          google_ad_width = 300;
                          google_ad_height = 250;
                          //-->
                          <!--/script>
                          <script type="text/javascript"
                          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                          </script>       
                      </div-->
              </div>
          </div>
          <div id="text-module">
              <div id="image-area">
                  <img src="/media/img/about/cooking-for-olympics.jpg"/>
              </div>
              <div id="text-area">
                  <div class="sidebar-text">
                      <p>I'm Darnell Ferguson, also known as "Super Chef". I am 23 years old, a father, Executive chef and Founder of Cookingin10.com. I was recruited out of high school by one of the top culinary schools in the nation, Sullivan University where I graduated as one of the top Chefs in my class. Most people are surprised at how much I have accomplished in my profession at such a young age. At 21 years of age I was honored to travel to China as an Olympic Chef in the 2008 Summer Olympics. In my young career I have done it all, from cooking for athletes, government Officials, and even President of the United State George H. Bush.</p>
                      <p>What makes me different from other Chefs? The First thing that makes me unique is my appearance and the way I make cooking easy and comfortable. I often wear baseball caps matching my chef coat, because for me, cooking is about being relaxed, being yourself and having fun. My friends say I think like an old man sometimes because I'm always thinking 2 steps ahead. My dream is to open the door for young chefs to get the recognition that the older chefs on TV get. I created Cookingin10.com with two main goals: to help people understand how to make the time in the kitchen fun and to give people an alternative to other cooking sites out there.</p>
                  </div>
                      <ul>
                          <li><h3>Done Watching?</h3></li>
                          <li><a href="#thumb-chooser" class="pause">Back</a></li>
                          <li><a href="#slideshow" class="pause">Home</a></li>
                      </ul>
                      <!--div id="googleAd">
                         <script type="text/javascript"><
                          google_ad_client = "pub-2077660811121410";
                          /* 300x250, created 8/9/10 */
                          google_ad_slot = "6063072402";
                          google_ad_width = 300;
                          google_ad_height = 250;
                          //-->
                          <!--
                          </script>
                          <script type="text/javascript"
                          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                          </script>     
                      </div-->
              </div>
          </div>
          <div id="gallery">
              <div class="left-arrow lSlider">
              </div>
                  <div id="thumb-window-gallery">
                      <div id="thumb-strip">
                          <div title="Click on an image to see it larger." class="thumb">
                              <a href="/media/img/gallery/crab-stuffed-seabass.jpg" rel="photo-gallery" title="Crab Stuffed Seabass">
                                  <img src="/media/img/gallery/thumbs/crab-stuffed-seabass.jpg" height>
                              </a>
                              <h3>Crab Stuffed Seabass</h3>
                          </div>
                          <div title="Click on an image to see it larger." class="thumb">
                              <a href="/media/img/gallery/curry-snapper.jpg" rel="photo-gallery" title="Curry Snapper">
                                  <img src="/media/img/gallery/thumbs/curry-snapper.jpg" height>
                              </a>
                              <h3>Curry Snapper</h3>
                          </div>
                          <div title="Click on an image to see it larger." class="thumb">
                              <a href="/media/img/gallery/grilled-mahi-mahi.jpg" rel="photo-gallery" title="Grilled Mahi Mahi">
                                  <img src="/media/img/gallery/thumbs/grilled-mahi-mahi.jpg" height>
                              </a>    
                              <h3>Grilled Mahi Mahi</h3>
                          </div>
                          <div title="Click on an image to see it larger." class="thumb">
                              <a href="/media/img/gallery/salad-onion-ring.jpg" rel="photo-gallery" title="Salad Onion Ring">
                                  <img src="/media/img/gallery/thumbs/salad-onion-ring.jpg" height>
                              </a>
                              <h3>Salad Onion Ring</h3>
                          </div>
                          <div title="Click on an image to see it larger." class="thumb">
                              <a href="/media/img/gallery/seared-grouper.jpg" rel="photo-gallery" title="Seared Grouper">
                                  <img src="/media/img/gallery/thumbs/seared-grouper.jpg" height>
                              </a>
                              <h3>Seared Grouper</h3>
                          </div>
                          <div title="Click on an image to see it larger." class="thumb">
                              <a href="/media/img/gallery/trio-appetizer.jpg" rel="photo-gallery" title="Trio Appetizer">
                                  <img src="/media/img/gallery/thumbs/trio-appetizer.jpg" height>
                              </a>
                              <h3>Trio Appetizer</h3>
                          </div>
                      </div> 
                  </div>
              <div class="right-arrow rSlider">
              </div>
              <a href="#slideshow" class="homeLink">Back to Home Slideshow</a>
          </div>
      </div>